<div class = "container">
    <div class = "panel">
        <h1>Login</h1>
    </div>
    <div class="panel-body">
        <form #form="ngForm" (submit)="login(form)">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" placeholder="username"
                    [(ngModel)]="user.username"
                    name="username" id="username"/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" placeholder="password"
                    [(ngModel)]="user.password"
                    name="password" id="password"/>
            </div>
            <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
</div>