<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav class='navbar navbar-inverse'>
      <div class="container-fluid">
          <a class="navbar-brand">Contact Manager</a>
          <ul class="nav navbar-nav">
              <li><a [routerLink]="['/login']">Login</a></li>
              <li><a [routerLink]="['/admin']">Admin</a></li>
              <li><a [routerLink]="['/user']">User</a></li>
              <li><a [routerLink]="['/user/contact']">Contact-Detail</a></li>         
          </ul>
      </div>
  </nav>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</div>