<div class = "container">
    <div class = "panel-heading">
        <h1>User Detail</h1>
    </div>
    <div class="panel-body">
        <div class="row top-buffer">
            <div class="col-md-3">Username:</div>
            <div class="col-md-2">{{user.username}}</div>
        </div>
        <div class="row top-buffer">
                <div class="col-md-3">Password:</div>
                <div class="col-md-2">{{user.password}}</div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-3">User Type:</div>
            <div class="col-md-2">{{user.userType}}</div>
        </div>
        <div class="row top-buffer">
                <div class="col-md-3">First Name:</div>
                <div class="col-md-2">{{user.firstname}}</div>
        </div>
        <div class="row top-buffer">
                <div class="col-md-3">Last Name:</div>
                <div class="col-md-2">{{user.lastname}}</div>
        </div>
        <div class="row top-buffer">
                <div class="col-md-3">Number of Contacts:</div>
                <div class="col-md-2">{{user.numContacts}}</div>
        </div>
        <div class="row top-buffer">
                <div class="col-md-1">
                    <button class="btn btn-success" (click)="editUser()">
                        Edit
                    </button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-success" (click)="deleteUser()">
                        Delete
                    </button>
                </div>
        </div>
        <div class="row top-buffer pull-right" >
                <button class="btn btn-success" (click)="back()">
                    <<Back
                </button>
        </div>
</div>
</div>