<div class = "container">
        <div class = "panel-heading">
            <button type="submit" class ="btn btn-success" (click)="logout()">Logout</button>
            <h1>Hello User</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <h3>Contacts</h3>
            </div>
            <div class="col-mid-2">
                    <button type="submit" class ="btn btn-success" (click)="createContact()">Create Contact</button>
            </div>   
            <div class="table-responsive">
                <table class="table" *ngIf="contacts && contacts.length">
                    <thead>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let contact of contacts">
                            <td><a [routerLink]= "['/user/contact']"
                                [queryParams] = "{username:contact.username,
                                                firstname:contact.firstname,
                                                lastname:contact.lastname,
                                                phone:contact.phone,
                                                email:contact.email}"
                                >{{contact.firstname}}</a></td>
                            <td>{{contact.lastname}}</td>
                            <td>{{contact.phone}}</td>
                            <td>{{contact.email}}</td>
                            <td><button type="submit" class="btn btn-success btn-sm" (click)="deleteContact(contact.firstname, contact.lastname, contact.phone, contact.email)">Delete</button>
                                <button type="submit" class="btn btn-success btn-sm" (click)="updateContact(contact)">Edit</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>